<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Calculadora Olist </title>
</head>
<body>
    <h3>
        Menu
    </h3>
    <ol>
        <li>
            <a href = "/marketplaces" > Marketplaces </a>
        </li>
        <li>
            <a href = "/categories" > Categories </a>
        </li>
        <li>
            <a href = "/subcategories" > Subcategories </a>
        </li>
    </ol>
</body>
</html>